.code {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  // background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: #fff;
  $bg1: #333333;
  > .sidebar {
    width: 50px;
    height: 100%;
    background: $bg1;
  }
  > .code-content {
    width: calc(100% - 50px);

    height: 100%;
    > .code-header {
      height: 40px;
      width: 100%;
      background-color: #252526;
    }
    > .code-body {
      display: flex;
      width: 100%;
      height: calc(100% - 40px);
      > .code-code {
        width: 100%;
        height: 100%;
        // background-color: pink;
      }
    }
  }
}
