::v-deep .el-tabs__nav-wrap {
  border-bottom: 2px solid #3f8cfe;
}

.center {
  display: flex;
  align-items: center;
  display: flex;
  white-space: nowrap;
  flex: 1;
  + .center {
    margin-left: 30px;
  }
}
.box {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
}
.button {
  width: 80px;
  // margin-right: 30px;
}

.box-card {
  width: 100%;

  border-radius: 3px;

  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 10%);
  padding: 10px;
  color: #747070;
  .option-card {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .seach {
    margin-top: 20px;
    width: 100%;
    display: flex;
    // flex: 4;
    justify-content: space-between;
  }
  .table {
    overflow-y: auto;
  }
  .my-pagination {
    text-align: right;
    margin-top: 10px;
  }
  // .table::-webkit-scroll{

  // }
}
.edit-box {
  width: 100%;
  height: 100%;
  position: relative;

  > .bk {
    position: absolute;
    width: 100px;
    top: 5px;
    right: -20px;
  }
  .shenqing {
    color: #747070;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
}
