.Login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f8cff;

  .content {
    width: 1170px;
    height: 610px;
    display: flex;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 3px -5px 40px 0px rgba(205, 205, 212, 0.1);
    border-radius: 16px;

    .left-block {
      position: relative;
      width: 46%;
      background: #fafafb;

      // .loginLogo {
      //   position: absolute;
      //   width: 144px;
      //   height: 39px;
      //   left: 56px;
      //   top: 60px;
      // }

      .loginLogo {
        position: absolute;
        // width: 144px;
        // height: 39px;
        left: 56px;
        top: 60px;

        > .logo {
          display: inline-block;
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          background-image: url(~@public/logo_blue.png);
          background-size: contain;
          margin-right: 10px;
        }

        > .title {
          // vertical-align: super;
          font-size: 22px;
          font-weight: 900;
          color: #3f8cff;
          position: relative;
          top: -8px;
        }
      }

      .loginBg {
        width: 419px;
        height: 315px;
        display: block;
        margin: 0 auto;
        margin-top: 134px;
      }

      .loginText {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #3f8cff;
        line-height: 36px;
        margin-top: 30px;
      }
    }

    .right-block {
      position: relative;
      width: 54%;
      padding: 60px;
      box-sizing: border-box;

      .login-title {
        font-size: 28px;
        font-weight: 600;
        // color: #323b4b;
        color: #3f8cff;
        line-height: 40px;
        text-align: left;
        margin-bottom: 60px;
        // background: #000;
        .back {
          font-size: 15px;
          margin-left: 30px;
          cursor: pointer;
        }
      }

      .login-icon {
        position: absolute;
        right: 60px;
        top: 60px;
        cursor: pointer;
        width: 60px;
        height: 60px;
      }

      .erWei-wrapper {
        position: relative;
        top: -20px;
        width: 100%;
        .bound {
          // background-color: pink;
          width: 80%;
          margin: 0 auto;
          padding-top: 20px;
          height: 100%;
        }
        // height:
      }

      .erWeiImg {
        display: table-cell;
        width: 200px;
        height: 290px;
        // height: 200px;
        margin: 0 auto;
        // margin-top: 100px;
      }

      .mask {
        position: relative;
        top: -350px;
        width: 100%;
        height: 100px;
        background-color: white;
        // border: 1px solid red;
      }

      .tips {
        margin-top: 30px;
        font-size: 18px;
        font-weight: bold;
        color: #000000;
        text-align: center;
        margin-left: -18px;

        img {
          width: 18px;
          height: 18px;
          display: inline-block;
          vertical-align: bottom;
          margin-right: 8px;
        }
      }

      .item-title {
        color: rgba(50, 59, 75, 0.5);
        height: 30px;
      }

      .show-pwd {
        position: absolute;
        right: 10px;
        bottom: 0px;
        cursor: pointer;
      }

      .elImg {
        width: 15px;
        height: 18px;
        position: absolute;
        right: 5px;
        top: 50px;
      }
    }
  }

  ::v-deep .el-input__inner {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #e2e2ea;
  }

  ::v-deep .el-input__inner:focus {
    border-color: #323b4b;
    outline: 0;
  }
}
